:root{
    --yellow1: #fcf18f;
    --yellow2: #FFF599;
    --yellow3: #FFEC5C;
    --yellow4: #FFE747;
    --yellow5: #FFE433;
    --yellow6: #FFDD1F;
    --white: #fff0f3;
    --blue: rgb(60, 60, 215);
}