.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--yellow6);
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 2;
}

.navbar ul{
    margin-right: 1rem;
    display: flex;
}

.navbar ul li{
    display: flex;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.navbar ul li:hover{
    transform: scale(1.1);
}

.navbar ul li:nth-last-child(1):hover{
    color: rgb(255, 0, 0);
}